body{
    background-color:#ccc;
}
.container{
    max-width: 900px;
    max-height: 900px;
    margin:0;
}
.content{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(red, green, blue, alpha);
    border-radius: 10px;

}
.main_body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto 0;
}

.main_body{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
